@ic-apple-big: 246px 108px -246px -108px 15px 18px 262px 237px 'ic-apple-big';
@ic-apple-small: 246px 174px -246px -174px 10px 12px 262px 237px 'ic-apple-small';
@ic-autocontact: 224px 108px -224px -108px 22px 22px 262px 237px 'ic-autocontact';
@ic-call: 242px 196px -242px -196px 18px 18px 262px 237px 'ic-call';
@ic-card: 202px 86px -202px -86px 22px 22px 262px 237px 'ic-card';
@ic-check-mark: 234px 30px -234px -30px 26px 26px 262px 237px 'ic-check-mark';
@ic-check-off: 226px 62px -226px -62px 22px 22px 262px 237px 'ic-check-off';
@ic-check-on: 202px 174px -202px -174px 22px 22px 262px 237px 'ic-check-on';
@ic-clear: 246px 152px -246px -152px 14px 14px 262px 237px 'ic-clear';
@ic-delete: 246px 86px -246px -86px 16px 18px 262px 237px 'ic-delete';
@ic-flag: 246px 130px -246px -130px 16px 16px 262px 237px 'ic-flag';
@ic-location: 248px 62px -248px -62px 13px 18px 262px 237px 'ic-location';
@ic-menu: 202px 108px -202px -108px 22px 22px 262px 237px 'ic-menu';
@ic-odnoklasniki: 138px 108px -138px -108px 44px 44px 262px 237px 'ic-odnoklasniki';
@ic-options: 202px 152px -202px -152px 22px 22px 262px 237px 'ic-options';
@ic-password: 224px 130px -224px -130px 22px 22px 262px 237px 'ic-password';
@ic-phone: 202px 30px -202px -30px 32px 32px 262px 237px 'ic-phone';
@ic-precipitation: 224px 196px -224px -196px 18px 18px 262px 237px 'ic-precipitation';
@ic-repeat: 202px 218px -202px -218px 18px 18px 262px 237px 'ic-repeat';
@ic-services: 224px 174px -224px -174px 22px 22px 262px 237px 'ic-services';
@ic-sms: 202px 196px -202px -196px 22px 22px 262px 237px 'ic-sms';
@ic-tariff: 224px 152px -224px -152px 22px 22px 262px 237px 'ic-tariff';
@ic-taxi-driver: 202px 130px -202px -130px 22px 22px 262px 237px 'ic-taxi-driver';
@ic-time: 224px 86px -224px -86px 22px 22px 262px 237px 'ic-time';
@ic-twitter: 138px 152px -138px -152px 43px 43px 262px 237px 'ic-twitter';
@ic-vk: 138px 64px -138px -64px 44px 44px 262px 237px 'ic-vk';
@ic-astle: 202px 62px -202px -62px 24px 24px 262px 237px 'ic-astle';
@icon: 138px 0px -138px 0px 64px 64px 262px 237px 'icon';
@iphone-editable: 0px 0px 0px 0px 138px 237px 262px 237px 'iphone-editable';
@logo: 202px 0px -202px 0px 60px 30px 262px 237px 'logo';
@logo-small: 138px 195px -138px -195px 60px 30px 262px 237px 'logo-small';
@sprites:  @ic-apple-big @ic-apple-small @ic-autocontact @ic-call @ic-card @ic-check-mark @ic-check-off @ic-check-on @ic-clear @ic-delete @ic-flag @ic-location @ic-menu @ic-odnoklasniki @ic-options @ic-password @ic-phone @ic-precipitation @ic-repeat @ic-services @ic-sms @ic-tariff @ic-taxi-driver @ic-time @ic-twitter @ic-vk @ic-astle @icon @iphone-editable @logo @logo-small;
@sprite_names:  'ic-apple-big' 'ic-apple-small' 'ic-autocontact' 'ic-call' 'ic-card' 'ic-check-mark' 'ic-check-off' 'ic-check-on' 'ic-clear' 'ic-delete' 'ic-flag' 'ic-location' 'ic-menu' 'ic-odnoklasniki' 'ic-options' 'ic-password' 'ic-phone' 'ic-precipitation' 'ic-repeat' 'ic-services' 'ic-sms' 'ic-tariff' 'ic-taxi-driver' 'ic-time' 'ic-twitter' 'ic-vk' 'ic-astle' 'icon' 'iphone-editable' 'logo' 'logo-small';
@sprites_image: '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png' '../images/sprite.png';
@ic-apple-big-2x: 492px 216px -492px -216px 30px 36px 524px 474px 'ic-apple-big-2x';
@ic-apple-small-2x: 492px 348px -492px -348px 20px 24px 524px 474px 'ic-apple-small-2x';
@ic-autocontact-2x: 448px 216px -448px -216px 44px 44px 524px 474px 'ic-autocontact-2x';
@ic-call-2x: 484px 392px -484px -392px 36px 36px 524px 474px 'ic-call-2x';
@ic-card-2x: 404px 172px -404px -172px 44px 44px 524px 474px 'ic-card-2x';
@ic-check-mark-2x: 468px 60px -468px -60px 52px 52px 524px 474px 'ic-check-mark-2x';
@ic-check-off-2x: 452px 124px -452px -124px 44px 44px 524px 474px 'ic-check-off-2x';
@ic-check-on-2x: 404px 348px -404px -348px 44px 44px 524px 474px 'ic-check-on-2x';
@ic-clear-2x: 492px 304px -492px -304px 28px 28px 524px 474px 'ic-clear-2x';
@ic-delete-2x: 492px 172px -492px -172px 32px 36px 524px 474px 'ic-delete-2x';
@ic-flag-2x: 492px 260px -492px -260px 32px 32px 524px 474px 'ic-flag-2x';
@ic-location-2x: 496px 124px -496px -124px 26px 36px 524px 474px 'ic-location-2x';
@ic-menu-2x: 404px 216px -404px -216px 44px 44px 524px 474px 'ic-menu-2x';
@ic-odnoklasniki-2x: 276px 216px -276px -216px 88px 88px 524px 474px 'ic-odnoklasniki-2x';
@ic-options-2x: 404px 304px -404px -304px 44px 44px 524px 474px 'ic-options-2x';
@ic-password-2x: 448px 260px -448px -260px 44px 44px 524px 474px 'ic-password-2x';
@ic-phone-2x: 404px 60px -404px -60px 64px 64px 524px 474px 'ic-phone-2x';
@ic-precipitation-2x: 448px 392px -448px -392px 36px 36px 524px 474px 'ic-precipitation-2x';
@ic-repeat-2x: 404px 436px -404px -436px 36px 36px 524px 474px 'ic-repeat-2x';
@ic-services-2x: 448px 348px -448px -348px 44px 44px 524px 474px 'ic-services-2x';
@ic-sms-2x: 404px 392px -404px -392px 44px 44px 524px 474px 'ic-sms-2x';
@ic-tariff-2x: 448px 304px -448px -304px 44px 44px 524px 474px 'ic-tariff-2x';
@ic-taxi-driver-2x: 404px 260px -404px -260px 44px 44px 524px 474px 'ic-taxi-driver-2x';
@ic-time-2x: 448px 172px -448px -172px 44px 44px 524px 474px 'ic-time-2x';
@ic-twitter-2x: 276px 304px -276px -304px 86px 86px 524px 474px 'ic-twitter-2x';
@ic-vk-2x: 276px 128px -276px -128px 88px 88px 524px 474px 'ic-vk-2x';
@ic-astle-2x: 404px 124px -404px -124px 48px 48px 524px 474px 'ic-astle-2x';
@icon-2x: 276px 0px -276px 0px 128px 128px 524px 474px 'icon-2x';
@iphone-editable-2x: 0px 0px 0px 0px 276px 474px 524px 474px 'iphone-editable-2x';
@logo-2x: 404px 0px -404px 0px 120px 60px 524px 474px 'logo-2x';
@logo-small-2x: 276px 390px -276px -390px 120px 60px 524px 474px 'logo-small-2x';

@retina_sprites:  @ic-apple-big-2x @ic-apple-small-2x @ic-autocontact-2x @ic-call-2x @ic-card-2x @ic-check-mark-2x @ic-check-off-2x @ic-check-on-2x @ic-clear-2x @ic-delete-2x @ic-flag-2x @ic-location-2x @ic-menu-2x @ic-odnoklasniki-2x @ic-options-2x @ic-password-2x @ic-phone-2x @ic-precipitation-2x @ic-repeat-2x @ic-services-2x @ic-sms-2x @ic-tariff-2x @ic-taxi-driver-2x @ic-time-2x @ic-twitter-2x @ic-vk-2x @ic-astle-2x @icon-2x @iphone-editable-2x @logo-2x @logo-small-2x;
@retina_sprites_image: '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png' '../images/sprite@2x.png';
.sprite-width(@sprite) {
  width: extract(@sprite, 5);
}

.sprite-height(@sprite) {
  height: extract(@sprite, 6);
}

.sprite-position(@sprite) {
  @sprite-offset-x: extract(@sprite, 3);
  @sprite-offset-y: extract(@sprite, 4);
  background-position: @sprite-offset-x @sprite-offset-y;
}

.sprite-image(@sprite-image) {
  background-image: url(@sprite-image);
}

.sprite(@sprite) {
  .sprite-position(@sprite);
  .sprite-width(@sprite);
  .sprite-height(@sprite);
}

.sprite-images() {
    @joined_sprite_names: ~`@{sprite_names}.join(',.')`;
    @{joined_sprite_names} {
        .sprite-image(e(extract(@sprites_image, 2)));
            @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
                .sprite-image(e(extract(@retina_sprites_image, 2)));
            }
    };
}

.sprite-background-size(@sprite) {
  @sprite-total-width: extract(@sprite, 7);
  @sprite-total-height: extract(@sprite, 8);
  background-size: @sprite-total-width @sprite-total-height;
}

.retina-sprite(@normal-sprite, @retina-sprite) {
    .sprite(@normal-sprite);

    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        .sprite-background-size(@retina-sprite);
    }
}

.retina-sprites(@i: 1) when (@i <= length(@retina_sprites)) {
    @rsprite: extract(@retina_sprites, @i);
    @sprite: extract(@sprites, @i);
    @sprite-name: e(extract(@sprite, 9));
    .@{sprite-name} {
        .retina-sprite(@sprite, @rsprite);
    }
    .retina-sprites(@i + 1);
}


